.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(1200px);
}
.logo {
  font-weight: bold;
  font-size: 22px;
}
.links {
  display: flex;
  gap: 30px;
  align-items: center;
  user-select: none;
}
.link {
  position: relative;
}
.pill {
  position: absolute;
  bottom: -3px;
  border-radius: 9999px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--color);
}

.logout {
  padding: 10px 18px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
}
